[Install]
WantedBy=multi-user.target

[Unit]
Description="gubiq"
After=network.target

[Service]
Restart=on-failure
RestartSec=3
StartLimitBurst=5
StartLimitInterval=0

ExecStart=/usr/bin/gubiq --config /etc/gubiq/gubiq.conf.toml
WorkingDirectory=/home/gubiq
Type=simple
User=gubiq
Group=gubiq
